body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .weather-app {
    border: 1px solid;
    border-color: blueviolet;
    border-radius: 5px;
    padding: 30px;
    margin: 50px auto;
    max-width: 600px;
    background-color: powderblue;
  }
  .current-button-column {
    padding: 0px;
  }
  h1 {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 50px;
    text-transform: capitalize;
  }
  .main-emoji {
    font-size: 50px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  .below-city {
    padding-left: 15px;
  }
  .main-temperature {
    text-align: end;
    font-size: 50px;
    padding-right: 0px;
    position: relative;
    break-inside: avoid-column;
    bottom: 75px;
    right: 145px;
  }
  .celsius,
  .fahrenheit,
  .space {
    font-size: 17px;
    vertical-align: top;
  }
  .weather-description {
    text-align: end;
    padding-left: 0px;
    float: right;
  }
  
  .columns-days {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-top: 0px;
  }
  .column-one,
  .column-two,
  .column-three,
  .column-four,
  .column-five,
  .column-six {
    padding: 0px 15px;
    text-align: center;
    font-size: 20px;
  }
  